<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Add Blood Request Page</title>
     
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
 </head>
 
 <body>
     <div class="container mt-5">
         <h2 class="text-center mb-4">Add Blood Request</h2>
         <form action="" method="post" class="p-4 shadow-sm bg-white rounded" enctype="multipart/form-data">
            {% csrf_token %}
             
             <div class="form-group">
                 <label for="id"><b> ID</b></label>
                 <input type="text" class="form-control" name="id" value="{{data.id}}" id="id" placeholder="Enter ID">
             </div>
 
             <div class="form-group">
                 <label for="pname"><b>Patient Name</b></label>
                 <input type="text" class="form-control" name="pname" value="{{data.patient_name}}" id="pname" placeholder="Enter patient name">
             </div>
 
             <div class="form-group">
                 <label for="descrip"><b>Description</b></label>
                 <textarea class="form-control" name="descrip" value="{{data.description}}" id="descrip" rows="3" placeholder="Enter product description"></textarea>
             </div>
 
             <div class="form-group">
                 <label for="place"><b>Place</b></label>
                 <input type="text" class="form-control" name="place" value="{{data.place}}" id="place" placeholder="Enter place">
             </div>
 
             <div class="form-group">
                 <label for="cno"><b>Contact no</b></label>
                 <input type="number" class="form-control" name="cno" value="{{data.contact_no}}" id="cno" placeholder="Enter contact no">
             </div>
             <div class="form-group">
                <label for="reqdate"><b>Request Date</b></label>
                <input type="date" class="form-control" name="reqdate" value="{{data.request_date}}" id="reqdate" placeholder="Enter request date">
            </div>
            
            
 
             <button type="submit" class="btn btn-primary btn-block">Add Blood Request</button>
         </form>
     </div>
 
     
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </body>
 
 </html>
 